a {
  color: #3d3d3d;
  text-decoration: unset;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #8b8a8a;
}

header {
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.logo {
  font-size: 28px;
  color: rgb(36, 175, 1);
}